.header{
    width: 100%;
    background-color: cornflowerblue;
    padding: 10px;
    height: 120px;
    
}  
.text_block{
    background-color: aqua;
    height: 30px;
    padding: 5px;
    font: 20pt verdana;
}
.logo{
    border-radius: 25%;
    height: 100px;
    width:100px;
    margin:10px;
    float:left;
}
.navigation{
    background-color: aqua;
    height: 50px;

    padding: 10px;
    max-width: 960px;
    margin: 20px auto 0;
}
