body{
    margin:0;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    padding: 10px;
    height: 120px;
    
}  
.text_block{
    background-color: aqua;
    height: 30px;
    padding: 5px;
    font: 20pt verdana;
}
.logo{
    border-radius: 25%;
    height: 100px;
    width:100px;
    margin:10px;
    float:left;
}
#navigation, #navigation li{
    margin: 0;
    padding: 0;
}
#navigation{
    text-align: center;
    background-color: rgb(1, 200, 223);
    max-width: 960px;
    margin: auto;
    height: auto;
    margin-top: 20px;
}
#navigation li{
    background-color: rgb(15, 223, 223);
    display: inline-block;
    text-align: center;
    width: 30%;
}
#navigation a{
    display: block;
    padding: 5px 15px;
    color: black;
    font-size: 200%;
    text-decoration: none;
}
#navigation a:hover{
    background-color: aqua;
}
.content{
    padding: 10px;
    max-width: 960px;
    margin: auto;
    height: auto;
}
footer{
    width:100%;
    background-color:cornflowerblue;
    height: 60px;
    padding: 10px;
    
}
table{
    width: 100%;
}
table,th,td{
    border: 1px solid brown;
    border-color: black;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: aqua;
}
tbody tr:nth-child(even){
    background-color: rgb(151, 241, 151);
}
